* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes blue {
  0% {
    height: 60px;
  }
  50% {
    height: 45px;
  }
  100% {
    height: 30px;
  }
}
@keyframes green {
  0% {
    height: 45px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 30px;
  }
}
@keyframes purple {
  0% {
    height: 30px;
  }
  50% {
    height: 45px;
  }
  100% {
    height: 60px;
  }
}
.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .load {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .load .green,
.box .load .purple,
.box .load .blue {
  width: 8px;
}
.box .load .green {
  background-color: lightgreen;
  animation: green 0.7s ease infinite;
}
.box .load .blue {
  background-color: lightblue;
  animation: blue 0.7s ease infinite;
}
.box .load .purple {
  background-color: lightcoral;
  animation: purple 0.7s ease infinite;
}
