* {
  margin: 0;
  padding: 0;
}
@keyframes btn-sun {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400% 0;
  }
}
.button {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  box-shadow: 0 4px 15px 0 rgba(175, 174, 172, 0.75);
  border-radius: 50px;
}
.button a:hover {
  animation: btn-sun 8s infinite;
}
